extends layout

block headerScripts

block content	
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.fui-document.pad10h
					|UCT Physics WPS Lottery
	.container
		div(align="center")
			p.lead #{headingText}
			div 				
				ul.list-unstyled
					- for (var i = 0; i < names.length; i++) {
					- if (i%4 == 3 || i%4 == 0)
						li.list-group-item.col-xs-6 #{names[i].studentID} (#{names[i].name})
					- else
						li.list-group-item.col-xs-6
							strong #{names[i].studentID} (#{names[i].name})
					- }

