extends layout
block bannerImage
	div(align="center")
		p
		//img(src="/webmarks/images/banner.jpg")

block headerScripts

block content	
	div#page1(data-role='page')
		div(data-theme='b',data-role='header')
			div(align="center")
				h3 UCT Physics WPS Lottery 							
		block bannerImage
		div(data-role='content', align="center")
			h1(data-theme='b',data-role='header') #{headingText}
			div 
				ol(data-role="listview", data-theme='c')			
					- for (var i = 0; i < names.length; i++) {
					- if (i %2 == 1 )
						li(data-theme='b') #{names[i].studentID} (#{names[i].name})
					- else
						li(data-theme='c') #{names[i].studentID} (#{names[i].name})
					- }
