extends layout
block bannerImage
	img.pad10v.img-responsive(src="/images/banner.jpg")

block headerScripts
	script.
		$(document).ready(function()
		{  
			$("#errMissingID").hide();
		});
		function viewMarks()
		{
			var studentID=$("#textName").val();
			var courseCode=$("#selectCourse").val();
			if (!studentID || courseCode==-1)				
			{
				$("#errMissingID").slideDown();
				return;
			}
			var currentURL=String(window.location);
			currentURL=currentURL.replace(/\/+$/, "");
			var newURL=(currentURL+"/"+courseCode+"/"+studentID);
			window.location=newURL;
		}

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.fui-document.pad10h
					| UCT Physics Webmarks	
	block bannerImage
	.container
		.row
			.col-xs-12
				a(for="selectCourse", align="center")
					select#selectCourse(name="selectCourse", align="center")
						option(value="-1") Select your course...
						- for (var i = 0; i < courseInfo.length; i++) {
						option(value="#{courseInfo[i].coursePrefix}") #{courseInfo[i].courseName}
						- }
		include includes/commonInput.jade